@import url("adwaita.css");  /* or another theme */
html { font-size: 13px; }


@page {
  /* Slightly tighter vertical margins to improve page economy */
  margin-top: 0.5in;
  margin-bottom: 0.5in;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

ul, ol {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* Avoid page breaks immediately after headings so small sections don't orphan */
h2, h3, h4 {
  page-break-after: avoid;
  page-break-inside: avoid;
}


/* Improve page economy by slightly tightening vertical spacing and avoiding orphaned final sections */
@page {
  margin-top: 0.4in;
  margin-bottom: 0.4in;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul, ol {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}

/* Keep small concluding blocks with preceding content when possible */
h3, h4 {
  page-break-inside: avoid;
}
