@import url("adwaita.css");  /* or another theme */
html { font-size: 13px; }

@page {
  margin: 0.5in;
}

h1 {
  margin-top: 0.3em;
}

h2 {
  margin-top: 0.3em;
  page-break-after: avoid;
}

p {
  margin-bottom: 0.4em;
}
