@import url("adwaita.css");  /* or another theme */
html { font-size: 13px; }


@page {
  margin-top: 0.6in;
  margin-bottom: 0.6in;
}

h1, h2, h3 {
  margin-top: 0.9em;
  margin-bottom: 0.4em;
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

h2, h3 {
  page-break-after: avoid;
}

ul, ol {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
